JaMoveo/.vs/JaMoveo/v17/.suo
JaMoveo/.vs/JaMoveo/FileContentIndex/381235dc-4bac-434a-a322-c27b0d7bf056.vsidx
JaMoveo/.vs/JaMoveo/v17/DocumentLayout.json
JaMoveo/.vs/JaMoveo/config/applicationhost.config
JaMoveo/.vs/JaMoveo/CopilotIndices/17.14.878.3237/CodeChunks.db
JaMoveo/.vs/JaMoveo/CopilotIndices/17.14.878.3237/CodeChunks.db-shm
JaMoveo/.vs/JaMoveo/CopilotIndices/17.14.878.3237/CodeChunks.db-wal
JaMoveo/.vs/JaMoveo/CopilotIndices/17.14.878.3237/SemanticSymbols.db
JaMoveo/.vs/JaMoveo/CopilotIndices/17.14.878.3237/SemanticSymbols.db-shm
JaMoveo/.vs/JaMoveo/CopilotIndices/17.14.878.3237/SemanticSymbols.db-wal
