JaMoveo/.vs/JaMoveo/v17/.suo
JaMoveo/.vs/JaMoveo/FileContentIndex/381235dc-4bac-434a-a322-c27b0d7bf056.vsidx
JaMoveo/.vs/JaMoveo/v17/DocumentLayout.json
JaMoveo/.vs/JaMoveo/config/applicationhost.config
JaMoveo/.vs/JaMoveo/CopilotIndices/17.14.878.3237/CodeChunks.db
JaMoveo/.vs/JaMoveo/CopilotIndices/17.14.878.3237/CodeChunks.db-shm
JaMoveo/.vs/JaMoveo/CopilotIndices/17.14.878.3237/CodeChunks.db-wal
JaMoveo/.vs/JaMoveo/CopilotIndices/17.14.878.3237/SemanticSymbols.db
JaMoveo/.vs/JaMoveo/CopilotIndices/17.14.878.3237/SemanticSymbols.db-shm
JaMoveo/.vs/JaMoveo/CopilotIndices/17.14.878.3237/SemanticSymbols.db-wal
JaMoveo/.vs/JaMoveo/FileContentIndex/b8019a64-53cf-4eb0-81d9-7df671545848.vsidx
JaMoveo/.vs/JaMoveo/FileContentIndex/c3d9b13a-792f-4f27-be04-3fe9579ca4be.vsidx
JaMoveo/.vs/JaMoveo/DesignTimeBuild/.dtbcache.v2
JaMoveo/.vs/JaMoveo/v17/DocumentLayout.backup.json
JaMoveo/.vs/JaMoveo/FileContentIndex/4ad5054d-c41e-4997-af0e-5d56c976c28d.vsidx
JaMoveo/.vs/JaMoveo/FileContentIndex/4ad5054d-c41e-4997-af0e-5d56c976c28d.vsidx
JaMoveo/.vs/JaMoveo/FileContentIndex/20fb827d-0fb7-41fb-9cc2-a9148187ad7a.vsidx
JaMoveo/.vs/JaMoveo/FileContentIndex/5e5a4f0c-c466-458d-b728-0ca277306a84.vsidx
JaMoveo/.vs/JaMoveo/FileContentIndex/96859502-4d32-4d4f-aa52-68dbab869366.vsidx
